body {
  background: linear-gradient(to top right, #ffff00 0%, #ff0000 100%);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

.row {
  padding: 10px 0;
}

.content__link {
  padding-left: 20px;
  font-size: 18px;
}
.content__link a {
  position: relative;
  color: #fff;
}
.content__link a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #fff;
  left: 50%;
  transition: all 0.5s;
}
.content__link a:hover:after {
  width: 100%;
  left: 0;
}

.content {
  border-radius: 20px;
  background: linear-gradient(to top right, #0099cc 0%, #ccffff 100%);
}

.content__first {
  padding: 20px 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.first__body {
  max-width: 300px;
}

.first__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.first__text {
  font-size: 18px;
  line-height: 25px;
}

.first__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: green;
  position: relative;
}
.first__img:after {
  content: "M";
  color: #fff;
  font-size: 30px;
  top: 20px;
  left: 22.5px;
  position: absolute;
}

.contetnt__second {
  color: #fff;
  font-size: 16px;
  padding: 20px;
  background: linear-gradient(to top right, #003366 0%, #ccffff 100%);
  height: 50px;
}
.contetnt__second p {
  position: relative;
  padding-left: 20px;
}
.contetnt__second p:before {
  content: "";
  top: 2px;
  width: 10px;
  left: 0;
  height: 10px;
  border-radius: 50%;
  background: #000;
  position: absolute;
}
.contetnt__second p:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  border-radius: 50%;
  background: lightgreen;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.content__third {
  background: #fff;
  padding: 40px 0;
}

.third__body {
  padding: 20px 15px;
  max-width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px lightgrey;
}

.third__item {
  cursor: pointer;
  max-width: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.third__img {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  max-width: 50px;
  transition: all 0.2s;
}
.third__img img {
  width: 100%;
}
.third__img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.third__subtitle {
  font-size: 14px;
}

.footer {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 20px;
  margin-top: -20px;
}

.button {
  margin: 0 auto;
  background: linear-gradient(to top right, #003366 0%, #ccffff 100%);
  color: #fff;
  padding: 0 110px;
  line-height: 30px;
  border-radius: 7px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1.5px;
}